nav {
    background: black;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.subnav {
    float: right;
    overflow: hidden;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: black;
}

.subnav-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
}